### File handling:
1. create
2. write
3. reading
4. appending
5. Renaming

In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

### Tuple:
1. Immutable
2. using ( ) elements are seperated by ,
3. Indexed,ordered

In [8]:
#Tuple
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [9]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [14]:
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

In [15]:
print(tup1.count(12))
print(tup1.index(12))

1
0

### packing and unpacking

In [16]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [19]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [21]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [24]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. does not allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [25]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [26]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [27]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [29]:
#Removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Bulit-in methods:
1. add()

### Removing an element
2. pop()
3. remove()
4. discard()
5. clear()

In [36]:
set2 = set()
print(type(set2))

<class 'set'>

In [38]:
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [39]:
set2.pop()

100

In [40]:
set2.remove(12)

In [41]:
set2

{23}

In [44]:
set2.remove(12)
set2

KeyError: 12

In [43]:
set2.discard(12)

In [45]:
set2.clear()
set2

set()

In [48]:
#union,difference,intersection,subset,super set,disjoint
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A u b  ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
#intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [54]:
#subset,super set,disjoint
#symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#False

True
False
True
True

In [53]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [56]:
#symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [57]:
A.union(B) ==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}
B ==> {3,4,5,6,7}
=======================
A ==> {1,2,3,4,5,6,7}
B ==> {3,4,5,6,7}

{1, 2, 3, 4, 5, 6, 7}

In [59]:
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [60]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [61]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [62]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [67]:
A = {1,2,3}
B = {2,3,4}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
print(A.symmetric_difference(B))#A-B union B-A
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:

```dictionary name = {key1:value1,key2:key2,....... }```

### Rules for key :
1. keys should be unqiue
2. key should be immutable (example:numerics,string,tuple )

In [71]:
#creating a dictonary
dict1 = {"name":"kavya","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'kavya', 'emp id': 1234, 'address': 'hyd'}

In [69]:
#Extracting an element
print(dict1["emp id"])

1234

In [88]:
#Removing or deleting an entry
del dict1 ["address"]
print(dict1)

{'name': 'kavya', 'emp id': 1234, 'course': 'python', 1: 1, 2: 2, 3: 3}

In [78]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'kavya', 'emp id': 1234, 'course': 'python'}

### Build-in methods:
1. keys()
2. items()

In [83]:
print(dict1.keys)
print(dict1.values)
print(dict1.items)

<built-in method keys of dict object at 0x00000226F7987C78>
<built-in method values of dict object at 0x00000226F7987C78>
<built-in method items of dict object at 0x00000226F7987C78>

In [84]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

kavya
kavya

In [85]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'kavya', 'emp id': 1234, 'course': 'python', 'address': 'hyd'}

In [86]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'kavya', 'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [91]:
#Removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'emp id': 1234, 'course': 'python', 2: 2, 3: 3}

In [97]:
dict1

{'emp id': 1234}